
$highlight_color:  #1a9b69; 
$header_text_color:  #eeeeee; 
$header_background_color: #252120;  
$normal_text_color: black; 
$title_font: 'Oswald', sans-serif;;
$body_font: 'Montserrat', sans-serif;  
$phone_margin: 2px $header_text_color solid; 
$tablet_margin: 4px $header_text_color solid;  


@mixin header_mobile { 
background-color: $header_background_color; 
    display:flex; 
    height: 300px; 
    justify-content:center;  
    align-items: center;
    border: $phone_margin;  
    border-top: 0px;     
}  

@mixin header_format_mobile { 
    font-family: $title_font; 
    color: $highlight_color; 
    font-size: 3.3em;  
} 

@mixin header_tablet { 
    background-color: $header_background_color; 
    display:flex; 
    height: 650px; 
    justify-content:center;  
    align-items: center;
    border: $tablet_margin;  
    border-top: 0px;
} 

@mixin header_format_tablet { 
    font-family: $title_font; 
    color: $header_text_color; 
    font-size: 1.6em;
}  

@mixin heading_mobile { 
        font-size: 2.1em;
        font-family: $title_font; 
        font-weight: 500; 
        padding: 20px;    
        background-color: $header_background_color; 
        color: $highlight_color;   
        margin: 40px 20px;
}  

@mixin heading_tablet { 
    font-size: 3.7em;
    font-family: $title_font; 
    font-weight: 500; 
    padding: 20px;   
    background-color: $header_background_color; 
    color: $highlight_color;    
    margin: 60px 30px; 
} 

