@import "fonts_colors";

h1 { 
    text-align: center;
}  


#nav_container { 
    background-color: $header_background_color; 
    display: flex;   
    height: 100px; 
    align-items: center;  
    border: $phone_margin; 
    border-bottom: 0px;
    
    
} 

nav ul { 
    list-style-type: none;  
    display: flex; 
    color: $header_text_color;    
    justify-content: space-between;  
    width:100%;
    padding-inline-start: 0px; 
    margin: 0px 5px;   
    font-family: $body_font; 
    font-size: 1.2em; 
    font-weight: bolder;
}   

 a { 
    text-decoration: none;
}

#nav_container a:hover { 
    color: $highlight_color;
}

 a:visited { 
    color: $header_text_color; 
}      


// header 

#home_header_container { 
    background-color: $header_background_color; 
    display:flex; 
    height: 712px; 
    justify-content:center;  
    align-items: center;
    border: $phone_margin; 
    border-top: 1; 
}   


.home_header_text { 
    display:flex;  
    justify-content:center;  
    align-items:center;
    flex-direction: column;   
    height: 300px;   
    padding:20px;
    border: $phone_margin; 
} 

.home_header_text h1 { 
    font-family: $title_font; 
    color: $header_text_color; 
    font-size: 3.5em;
}  

.home_header_text span { 
    color: $highlight_color
}

.home_header_text p { 
    font-family: $body_font; 
    color: $header_text_color; 
    margin: 10px;  
    padding-right: 0px;  
    font-size:1.2em;  
}   

// main content

#home_main_container {  
    background-color: $header_text_color;  
    
} 

.home_main_section_content { 
    font-family: $body_font; 
    display: flex; 
    flex-direction: column;   
    align-items:center;
    text-align:center;   
    padding: 40px 10px; 
    font-size: 1.2em; 
}

.home_main_section_content img { 
    width: 45%; 
}



// footer 

#footer_container { 
    background-color: $header_background_color;  
    display:flex; 
    justify-content: center;
    width:100%;  
    height: 60px; 
    border: 2px $header_text_color solid;
}  

.footer_images { 
    display:flex; 
    align-items: center; 
    color: $header_text_color;  
} 

.footer_images i { 
    margin: 0px 20px;   
    width:100%;
    color: $header_text_color; 
    transition: transform .2s;  
    font-size: 1.7em; 

}  

i:hover { 
    color: $highlight_color;  
    transform: scale(1.5);
}   
