

h1 { 
    text-align: center;
}  


#nav_container { 
    background-color: $header_background_color; 
    display: flex;   
    height: 80px; 
    align-items: center; 
    
} 

nav ul { 
    list-style-type: none;  
    display: flex; 
    color: $header_text_color;    
    justify-content: space-between;  
    width:100%;
    padding-inline-start: 0px; 
    margin: 0px 5px;   
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2em;
}   


a { 
    text-decoration: none;
}

nav a:hover, nav a:active { 
    color: $highlight_color 

} 


nav a:visited { 
    color: $header_text_color
}

