@import "fonts_colors";  

#portfolio_header_container{  
    @include header_mobile
}

.portfolio_header_text h1 {  
    @include header_format_mobile
}  

.moving_shapes1 { 
    position: absolute; 
    top:0;
    left:0; 
    width:100%; 
    height:100%; 
    z-index: 0; 
    transform: translateZ(0);
} 

.moving_shapes1 li { 
    position: absolute; 
    list-style: none; 
    display:block; 
    background-color: $header_text_color; 
    opacity: 0.15; 
    bottom: 20vh;         
    animation: float infinite; 
    transition-timing-function: linear;
} 
 

.moving_shapes1 li:nth-child(1) {  
    width: 5em; 
    height: 5em;
    left:12.5%;  
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);   
    animation-delay: 0s; 
    animation-duration: 21s;
}  


.moving_shapes1 li:nth-child(2) { 
    width: 2em; 
    height: 2em; 
    left:25%; 
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);   
    animation-delay: 3s; 
    animation-duration: 22s; 
} 

.moving_shapes1 li:nth-child(3) { 
    width: 1em; 
    height: 1em;
    left:37.5%; 
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);   
    animation-delay: 0s; 
    animation-duration: 20s;
} 

.moving_shapes1 li:nth-child(4) {   
    width: 6.5em; 
    height: 6.5em; 
    left:50%; 
    animation-delay: 3s; 
    animation-duration: 26s; 
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);   

}  

.moving_shapes1 li:nth-child(5) { 
    width: 1.9em; 
    height: 1.9em; 
    left:62.5%; 
    animation-delay: 1s; 
    animation-duration: 20s; 
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);   

}  

.moving_shapes1 li:nth-child(6) { 
    width: 1.8em; 
    height: 1.8em; 
    left:75%; 
    animation-delay: 4s; 
    animation-duration: 19s; 
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);   

}  

.moving_shapes1 li:nth-child(7) { 
    width: 1em; 
    height: 1em; 
    left:87.5%; 
    animation-delay: 1.4s; 
    animation-duration: 18s; 
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);   

} 


@keyframes float { 
    0% { 
    transform: translateY(0px); 
    opacity: 0.5;
    
    } 
    100% { 
        transform: translateY(-100vh) rotate(630deg); 
        opacity: 0
    }
}



body { 
    background-color: $header_text_color;
}

#languages_container { 
    background-color: $header_text_color;  
}  

.languages_content { 
    display:grid; 
    grid-template-columns: repeat(2,1fr);   
    justify-items: center; 
    font-size: 6em; 
    row-gap: 4vh; 
} 

.icon:nth-child(5) { 
    grid-column: 1 / span 2;
}  

.icon { 
    font-size:1em;
    padding: 10px
}

.languages_content a:hover { 
    font-size:1.5em
} 

// projects section

.heading h1 { 
    @include heading_mobile;   
}     

.heading p {  
    background-color: $header_text_color; 
    text-align: center; 
    font-family: $body_font; 
    padding: 5vh; 
    padding-top: 0px; 
} 



#projects { 
    background-color: $header_text_color; 

} 

.projects_content { 
    display:flex; 
    flex-direction: column;  
    margin-bottom: 5vh;
}

.fade1, .fade2, .fade3 { 
    display:flex;  
    position: relative;   
}

.project_image { 
    height: 210px; 
    width: 375px;  
    opacity: 1;
    transition: .5s ease;   
    padding:5px 0px;   
    border: $phone_margin;   
    transition:1s;  
} 

.projects_content h4 {  
    background-color: $header_background_color; 
    font-family: $body_font; 
    padding: 20px;
    color: $header_text_color;
    transition: 0.4s;
    border-radius: 0.1em;
}  

.projects_content h4:hover { 
    color: $highlight_color; 
    text-shadow: 2px 2px 30px;
}

.box_center {  
    position: absolute;  
    top:50%; 
    left:50%;
    transition: .5s ease; 
    opacity: 0;  
    transform: translate(-50%, -50%);    
  } 




 .fade1:hover .project_image, .fade2:hover .project_image, .fade3:hover .project_image {
    opacity: 0.6;
  }  


  .fade1:hover .box_center, .fade2:hover .box_center, .fade3:hover .box_center { 
      opacity: 1;
  }
  
  




    